@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,500;0,700;1,400&family=Rubik+Doodle+Shadow&display=swap');

:root {
    --color1: #79b788;
    --color2: #A7D96F;
    --color3: #6FD9D1;
    --color4: #6FD9AD;
    --color5: #7AD96F;
    --font_titulo: 'Merriweather', serif;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
  }

header{
    padding: 10px;
    width: 100vw;
    display: inline-block;
    text-align: center;
    height: 7vh;
    border-bottom: rgba(128, 128, 128, 0.349) solid 2px;
}
header > div > a{
    display: grid;
    color: rgba(0, 0, 0, 0.884);
    border: rgba(39, 39, 19, 0.349) solid 1px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 3vh;
    width: 50vw;
    text-align: center;
    justify-content: center;
    margin: 10px;
    text-decoration: none;
}
header > div{
    margin: auto;
    text-align: center;
    align-items: center;
    display: none;
}
header span{
    display: inline-block;
    padding: 18px;
    padding-top: 0;
}

header h1{
    margin: auto;
    font-family: 'Rubik Doodle Shadow';
    color: var(--color1);
    text-align: center;
    display: inline-block;
    padding: 20px;
    padding-top: 0;
    justify-content: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.205);
    align-items: center;
}
header > span:nth-child(2){
    display: flex;
    color: var(--color1);
    float: right;
}
main{
    padding:20px
}
main > h2{
    font-size: 30px;
    
}
main > p{
    padding-top: 20px;
    width: 90vw;
    margin-bottom: 40px;
}
img{
    width: 95%;
    height:95%;
    object-fit: cover;
    margin: auto;
    display: block;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.527);

}

div#metricas > h2{
    font-size: 30px;
    font-family: var(--font_titulo);
    font-weight: normal;
    color: rgba(0, 0, 0, 0.795);
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 2px solid rgba(0, 0, 0, 0.547);
    padding-top: 5px;
}


div#metricas > p#num_1{
    text-align: center;
    font-size: 36px;
}

div#metricas > p#num_2{
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    font-weight: lighter;
}



div#metricas2{
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 5px;
}


div#metricas2 > p#num_3{
    text-align: center;
    font-size: 36px;
}

div#metricas2 > p#num_4{
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    font-weight: lighter;
}

div#metricas3{
    margin-top: 40px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.547);
}


div#metricas3 > p#num_3{
    text-align: center;
    font-size: 36px;
}

div#metricas3 > p#num_4{
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
    font-weight: lighter;
}

div#mais_dados1 >img{
    margin-top: 20px;
    margin-bottom: 15px;
}

div#mais_dados1 >p{
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: normal;
    color: rgba(20, 20, 20, 0.774);
}

div#mais_dados1 > h3{
    font-family: var(--font_titulo);
}

h3#trabalho{
    margin-top: 20px;
    margin-bottom: 10px;
}

div#mais_dados1{
    margin-bottom: 40px;
}

footer{
    background-color: black;
    height: 77vh;
    width: 100vw;
    color: white;
}

footer > h1#title_footer{
    color: white;
    font-family: 'Rubik Doodle Shadow';
    text-align: center;
    padding-top: 20px;
    font-size: 32px;
}

footer > p{
    width: 90vw;
    text-align: center;
    margin: auto;
    padding-top: 20px;
    font-weight: lighter;
    margin-bottom: 20px;
}

footer > h3{
    padding: 10px;
    width: 50vw;
    margin: auto;
    text-align: center;
    font-weight: normal;
    border-radius: 20px;
    display: flex;
    font-family: var(--font_titulo);
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}
hr{
    margin-top: 20px;
    font-size: 10px;
    color: white;
}

footer > a{
    display: block;
    color: white;
    font-size: 18px;
    text-align: center;
    margin: 40px;
}

legend{
    color: darkgray;
    text-align: center;
}

@media  screen and (min-width: 375px) and (max-width: 425px) {
    header span{
        padding: 30px;
        padding-top: 0;
    }
}
@media  screen and (min-width: 425px) and (max-width: 768px) {

    header span:first-child{
        padding-right: 44px;
    }
    header span:nth-child(2){
        padding-left: 64px;
    }
}